
<%- include('partials/collectionForm') %>

<%- include('partials/collectionsList') %>

<%- include('partials/deleteModal') %>

<%- include('partials/updateModal') %>


            <!-- STATIC CODE -->

            <!-- Collection 1 -->

                    <div>
                        <button
                            class="text-2xl font-semibold text-left mb-4 w-full flex items-center justify-start fade-in"
                            onclick="toggleCollection('collection1', this)">
                            <span class="mr-2 w-6 h-6 rounded-full flex items-center justify-center bg-slate-600">
                                <img src="/images/arrow.svg"
                                    class="w-4 h-4 ease-in-out duration-300 transform rotate-90" alt="arrow"
                                    id="arrowIcon1">
                            </span> <!-- Arrow icon -->
                            Collection 1
                        </button>
                        <div id="collection1" class="grid grid-cols-12 gap-4">
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark1
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark2
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark3
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark4
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark5
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark6
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark7
                            </div>

                            <div
                                class="col-span-6 flex items-center justify-center text-white text-6xl md:col-span-4 lg:col-span-3 bg-blue-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                +
                            </div>
                        </div>
                    </div>

                    <!-- Collection 2 -->
                    <div>
                        <button
                            class="text-2xl font-semibold text-left mb-4 w-full flex items-center justify-start fade-in"
                            onclick="toggleCollection('collection2', this)">
                            <span class="mr-2 w-6 h-6 rounded-full flex items-center justify-center bg-slate-600">
                                <img src="/images/arrow.svg"
                                    class="w-4 h-4 ease-in-out duration-300 transform rotate-90" alt="arrow"
                                    id="arrowIcon2">
                            </span> <!-- Arrow icon -->
                            Collection 2
                        </button>
                        <div id="collection2" class="grid grid-cols-12 gap-4">
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark1
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark2
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark3
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark4
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark5
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark6
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-red-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark7
                            </div>
                        </div>
                    </div>

                    <!-- Collection 3 -->
                    <div>
                        <button
                            class="text-2xl font-semibold text-left mb-4 w-full flex items-center justify-start fade-in"
                            onclick="toggleCollection('collection3', this)">
                            <span class="mr-2 w-6 h-6 rounded-full flex items-center justify-center bg-slate-600">
                                <img src="/images/arrow.svg"
                                    class="w-4 h-4 ease-in-out duration-300 transform rotate-90" alt="arrow"
                                    id="arrowIcon3">
                            </span> <!-- Arrow icon -->
                            Collection 3
                        </button>
                        <div id="collection3" class="grid grid-cols-12 gap-4">
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark1
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark2
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark3
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark4
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark5
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark6
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-green-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark7
                            </div>
                        </div>
                    </div>

                    <!-- Collection 4 -->
                    <div>
                        <button
                            class="text-2xl font-semibold text-left mb-4 w-full flex items-center justify-start fade-in"
                            onclick="toggleCollection('collection4', this)">
                            <span class="mr-2 w-6 h-6 rounded-full flex items-center justify-center bg-slate-600">
                                <img src="/images/arrow.svg"
                                    class="w-4 h-4 ease-in-out duration-300 transform rotate-90" alt="arrow"
                                    id="arrowIcon4">
                            </span> <!-- Arrow icon -->
                            Collection 4
                        </button>
                        <div id="collection4" class="grid grid-cols-12 gap-4">
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark1
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark2
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark3
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark4
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark5
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark6
                            </div>
                            <div
                                class="col-span-6 md:col-span-4 lg:col-span-3 bg-yellow-100 p-4 rounded-lg transform transition-transform hover:scale-105 fade-in">
                                bookmark7
                            </div>
                        </div>
                    </div>
        </div>
    </section>
</div>
